html {
    margin: 0px;
    width: 100%;
    height: 100%;
}

body {
    background-color: #ffffff !important;
    width: 100%;
    height: 100%;
    background-image: url("data/interface/sherlock-holmes.jpg");
    background-size: cover;
}

header {
    padding: 5px;
    grid-row: 1;
    background:#4b6691;
    color: white;
    text-align: center; 
}

.container {
    vertical-align: middle;
}

.all-box {
    border: 0px solid transparent;
    border-radius: 10px;
    height: 400px;
    margin: 20px;
    color: white;
    background-color: rgba(0,0,0, 0.9);
}

.box {
    border: 1px solid black;
    padding: 30px;
}

.box-form {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.box-podium {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
}

.pod {
    text-align: center;
}

.medaille {
    border: 2px solid white;
    border-radius: 50%;
    width: 30px;
    margin-left: auto;
    margin-right: auto;
}

.medaille-1 {
    border-color: yellow;
}

.medaille-2 {
    border-color: silver;
}

.medaille-3 {
    border-color: rgb(126, 88, 7);
}

footer {
    padding: 8px;
    padding-right : 15px;
    text-align:right;
    background:#c09d76;
    color: black;
    font-size: 0.9em;
    position: absolute;
    bottom: 0;
    width: 100%;

}

.principal{
    padding-top: 20px;
    max-height: 50vh; 
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
}

.titre{
    grid-row: 1; 
}

.pseudo{
    grid-row: 2; 
}
