/*#mapid { height: 400px; }*/

body {
  min-height: 100vh;
  margin: 5px;
  display: grid;
  grid-template-columns: 250px 1fr 280px;
  grid-template-rows: 30px 180px 1fr 20px;
  background-image:url(data/interface/fond_bois.jpg);

}

header {
  margin: 0;
  grid-column: 1 / 4;
  grid-row: 1;
  background: #4b6691;
  color: white;
  text-align: center;
}

.personnages {
  grid-column: 1 / 4;
  grid-row: 2;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 0 0 10px 0;
  align-content: center;
  font-size: 0.7em;
  border-width: thick;
  border-style: solid none none none;
  border-color: #4b6691;
}

#p_1 {
  margin: 0;
  padding: 0.5em;
  max-height: 165px;
  font-size: 1em;
/*   border-style: solid solid solid none;
  border-color: black;
  border-width:thin; */
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: grey rgba(255, 255, 255, 0)
}

#p_2 {
  padding: 0.5em;
  max-height: 165px;
  font-size: 1em;
/*   border-style: solid solid solid none;
  border-color: black;
  border-width:thin; */
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: grey rgba(255, 255, 255, 0)

}

#p_3 {
  padding: 0.5em;
  max-height: 165px;
  font-size: 1em;
/*   border-style: solid solid solid none;
  border-color: black;
  border-width:thin; */
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: grey rgba(255, 255, 255, 0)
}

#p_4 {
  padding: 0.5em;
  max-height: 165px;
  font-size: 1em;
/*   border-style: solid solid solid none;
  border-color: black;
  border-width:thin; */
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: grey rgba(255, 255, 255, 0)
}

#p_5 {
  padding: 0.5em;
  max-height: 165px;
  font-size: 1em;
/*   border-style: solid solid solid none;
  border-color: black;
  border-width:thin; */
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: grey rgba(255, 255, 255, 0)
}

#p_6 {
  padding: 0.5em;
  max-height: 165px;
  font-size: 1em;
/*   border-style: solid solid solid none;
  border-color: black;
  border-width:thin; */
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: grey rgba(255, 255, 255, 0)
}

#p_7 {
  padding: 0.5em;
  max-height: 165px;
  font-size: 1em;
/*   border-style: solid solid solid none;
  border-color: black;
  border-width:thin; */
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: grey rgba(255, 255, 255, 0)
}

#p_8 {
  padding: 0.5em;
  max-height: 165px;
/*   border-style: solid none solid none;
  border-color: black;
  border-width:thin; */
  font-size: 1em;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: grey rgba(255, 255, 255, 0)
}


.colonneGauche {
  grid-column: 1;
  grid-row: 3;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 155px 140px 1fr;
}

.messages {
  grid-column: 1/3;
  grid-row: 1;
  background-image:url(data/interface/petit_papier2.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 5px;
  text-align: center;
  font-size: 0.9em;
}

.boussole {
  grid-column: 1;
  grid-row: 2;
  background-image:url(data/interface/boussole.png);
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
}

.temps {
  grid-column: 2;
  grid-row: 2;
  text-align: center;
  margin : auto;
}

.meilleursScores {
  grid-column: 1/3;
  grid-row: 3;
  margin : 10px;
  margin: 0;
  display: grid;
  grid-template-rows: 30px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

#txtSc {
    grid-column: 1/4;
    grid-row: 1;
}

#sc1 {
  grid-column: 1;
  grid-row: 2;
  font-size: 0.7em;
}

#sc2 {
  grid-column: 2;
  grid-row: 2;
  font-size: 0.7em;
}

#sc3 {
  grid-column: 3;
  grid-row: 2;
  font-size: 0.7em;
}




.Carte {
  grid-column: 2;
  grid-row: 3;
  min-width: 300px;
}


.colonneDroite {
  grid-column: 3;
  grid-row: 3;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 110px 1fr 152px;
}

#outil {
  grid-row: 1;
  border-style: solid;
  border-color: black;
  border-width: medium;
  border-radius: 10px;
  margin : 5px;
  padding: 10px;
  padding-top: 5px;
}

.notes {
  grid-row: 2;
  text-align: center;
}

#notesPerso {
  grid-row: 2;
  width: 250px;
  min-height: 80%;
}



.toutIndices {
  grid-row: 3;
  border-style: solid;
  border-color: black;
  border-width: medium;
  border-radius: 10px;
  margin : 5px;
  padding: 10px;
  padding-top: 5px;
}

footer {
  grid-column: 1 / 4;
  grid-row: 4;
  padding-right : 15px;
  text-align:right;
  background:#344561;
  color: white;
  font-size: 0.8em;
}
